<div class="container">
  <table>
    <tr class="table-header">
      <th>Flight id</th>
      <th>Seat type</th>
      <th>Have baggage</th>
      <th>Have priority register</th>
      <th class="statusHead">Price</th>
      <th class="statusHead">Status</th>
    </tr>
    <tr *ngFor="let ticket of tickets | async">
      <td>{{ticket.flightId}}</td>
      <td>{{ticket.seat}}</td>
      <td>{{ticket.haveBaggage.toString()}}</td>
      <td>{{ticket.havePriorityRegister.toString()}}</td>
      <td>{{ticket.flightPrice.toString()}}</td>
      <td>{{ticket.status}}</td>
    </tr>
  </table>
</div>
