<!--<header>-->
<!--  <nav class="top-menu">-->
<!--    <ul class="menu-main">-->
<!--      <li class="left-item"><a href="">EN</a></li>-->
<!--      <li class="left-item"><a href="">RU</a></li>-->

<!--      <li class="right-item"><a href="/admin">Cabinet</a></li>-->

<!--    </ul>-->
<!--  </nav>-->
<!--</header>-->
<!--<div class="container">-->
<!--  <section class="filterBar">-->
<!--    <div class="search-ui">-->
<!--      <label for="search"> Search</label>-->
<!--      <div class="search-container">-->
<!--        <form action="">-->
<!--          <input class="search-input" type="text" placeholder=""-->
<!--                 name="search">-->
<!--          <button type="submit"><i class="fa fa-search"></i></button>-->
<!--        </form>-->
<!--      </div>-->
<!--    </div>-->
<!--  </section>-->

<!--  <table>-->
<!--    <tr class="table-header">-->
<!--      <th>Username</th>-->
<!--      <th>Departure country</th>-->
<!--      <th>Arrival country</th>-->
<!--      <th>Seat</th>-->
<!--      <th class="statusHead">Flight id</th>-->
<!--      <th class="statusHead">Status</th>-->
<!--      <th class="statusHead">Total price</th>-->
<!--    </tr>-->
<!--    <tr *ngFor="let ticket of tickets; let i = index">-->
<!--      <td class="username">{{i + 1}}</td>-->
<!--      <td>{{ticket.have_baggage}}</td>-->
<!--      <td>{{ticket.have_priority_register}}</td>-->
<!--      <td *ngIf="ticket.flight_id;else elseBlock " class="commenter">{{ticket.flight_id}}<i-->
<!--        class="fas fa-angle-down"></i>-->
<!--      </td>-->
<!--      <ng-template #elseBlock>-->
<!--        <td class="commenter">-->
<!--          <select  (change)="onSelect($event.target)">-->
<!--            <option *ngFor="let flight of flights" value="{{flight.id}}" id="{{flight.id}}"></option>-->
<!--          </select>-->
<!--        </td>-->
<!--      </ng-template>-->


<!--      <td class="activeUser">{{ticket.status}}<i class="fas fa-angle-down"></i></td>-->
<!--      <div [ngSwitch]="ticket.status">-->
<!--        <ng-template ngSwitchCase="PENDING">-->
<!--          <td>-->
<!--            <a class="no-button blur-hover" (click)="updateTicket(ticket.id)">&#10004;</a>-->
<!--            <a class="no-button blur-hover" (click)="deleteTicket(ticket.id)">-->
<!--              &#10006;</a>-->
<!--          </td>-->
<!--        </ng-template>-->
<!--        <ng-template ngSwitchDefault>-->
<!--          <td></td>-->
<!--        </ng-template>-->
<!--      </div>-->

<!--    </tr>-->
<!--  </table>-->
<!--</div>-->
<!--<input type="submit" value="Logout" (click)="logout()">-->
